@tailwind base;
@tailwind components;
@tailwind utilities;

/*-- BRANDING VARS/RESET --*/

:root {
  --navy: 23, 27, 58;
  --cyan: 23, 139, 219;
  --black: 26, 29, 36;
  --body-grey: 141, 143, 150;
  --light-grey: 241, 244, 249;

  --xl-heading: 3rem;
  --lg-heading: 2.25rem;
  --md-heading: 1.75rem;
  --sm-heading: 1.5rem;
  --xs-heading: 1rem;

  --border: 1px solid rgb(209, 210, 213);
  --light-shadow: 0 5px 10px rgba(154,161,177,.1);

  --slate-border: rgba(71, 85, 105, 0.6) 1px solid;

  --neutral-bg: rgba(248, 250, 253, 0.7);
}

html,
body {
  font-family: 'Rubik', sans-serif;
  color: rgba(var(--navy), 0.85);
  padding: 0;
  margin: 0;
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: rgb(var(--navy));
}


h1 {
  font-size: var(--xl-heading);
  line-height: var(--xl-heading);
}

h1 span {
  font-size: var(--md-heading);
}

h2 {
  font-size: var(--lg-heading);
  line-height: calc(var(--lg-heading) + 1.25rem);
}

h3 {
  font-size: var(--md-heading);
  line-height: calc(var(--md-heading) + 1.1rem);
}

h3 {
  font-size: var(--md-heading);
  line-height: calc(var(--md-heading) + 1.1rem);
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(var(--navy), 0.85);
    font-weight: 600;
}

p, ul, ul li, ul li a {
  font-size: 1rem;
  line-height: 1.55rem;
}

ul li a {
  font-size: 1rem;
  line-height: 1.3rem;
}

/*-- UTILITY CLASSES --*/

.navy-text {
  color: rgba(var(--navy), 0.85);
 }
 
 .cyan-text {
     color: rgb(var(--cyan));
 }
 
 .light-grey-text {
   color: rgb(var(--light-grey))
 }
 
 .body-grey-text {
   color: rgb(var(--body-grey))
 }
 
 
 .navy-bg {
     background-color: rgb(var(--navy));
 }
 
 .cyan-bg {
     background-color: rgb(var(--cyan));
 }
 
 .light-grey-bg {
   background-color: rgb(var(--light-grey))
 }
 
 .body-grey-bg {
   background-color: rgb(var(--body-grey))
 }
 
 .cyan-border {
   border: 2px solid rgb(var(--cyan));
 }

.btn {
  padding: 8px 12px;
  border-radius: 6px;
  transition: 300ms;
}

 .navy-btn {
    background-color: rgb(var(--navy));
    color: white;

 }

 .cyan-btn {
    background-color: rgb(var(--cyan));
    color: white;
 }

 .slate-btn {
  color: rgb(var(--navy));
  background-color: rgb(203 213 225);
 }

 .navy-btn:hover {
    background-color: rgba(var(--navy), 0.9);
 }

 .cyan-btn:hover {
    background-color: rgba(var(--cyan), 0.85);
 }

 .slate-btn:hover {
  background-color: rgba(203, 213, 225, 0.75);
 }

 .clear-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 16px;
 }

.svg-inline--fa.fa-circle-check{
  height: 22px;
  width: 22px;
}

/*-- POSITIONING --*/

.app {
    display: flex;
    overflow: hidden;
    min-height: 100%;
}
.app-body {
    display: flex;
    position: relative;
}

header {
    width: 100%;
    height: 64px;
    padding: 16px 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    position: fixed;
    left: 0;
    z-index: 1;
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 104px 34px 64px 34px;
  background-color: rgba(var(--light-grey),0.8);
}

.body-container {
  width: calc(100% - 240px);
  background: rgb(var(--neutral-bg));
  margin-left: auto;
  max-width: 100%;
}

.ui-panel {
  background-color: white;
  border-radius: 10px;
  padding: 0 40px 64px 40px;
}

.action-body {
  display: flex;
}

.action-body-form {
  margin-top: 5px;
  margin-left: 56px;
  width: 672px;
}

.progress-bar {
  width: 280px;
  margin-right: 40px;
}

.progress-bar-link {
  margin-left: 22px;
  margin-bottom: 8px;
  padding-top: 44px;
  padding-bottom: 44px;
  width: 4px;
  height: 2px;
  @apply bg-slate-300;
}

.deploy-journey .progress-bar-link, .restore-journey .progress-bar-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.progress-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.progress-text {
  padding-left: 12px;
  width: 230px;
  margin-top: 8px;
}

.progress-text p.navy-text {
  margin-bottom: 2px;
}

.type-policy-checkboxes li {
  padding-left: 20px;
  line-height: 24px;
}


/*-- NAV/HEADER SPECIFIC --*/

.inforcer-logo {
  height: 30px;
  width: auto;
  margin: 20px 0px 0px 24px;
}

nav {
  width: 240px;
  flex-shrink: 0;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  z-index: 2;
  border-right: 1px solid #ddd;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 52px 0 22px 0;
}

nav ul li a {
  padding: 12px 16px;
  display: flex;
  margin: 2px 16px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: rgba(var(--cyan),0.1);
  color: rgba(var(--navy),0.85);
}

nav ul li a.active {
  background-color: rgba(var(--cyan),0.1);
  color: rgba(var(--cyan),1);
}

nav .svg-inline--fa {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

header .header-nav, header .header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-nav .header-nav-list {
  padding: 0 8px;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(var(--navy));
}
/* header .header-nav .header-nav-list a {
  padding: 0 8px;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(var(--navy));
} */

header .header-nav .svg-inline--fa {
  width: 24px;
  height: 24px;
  padding: 4px;
}

header .header-nav .svg-inline--fa {
  cursor: pointer;
}

nav.mobile-sidebar {
  display: none;
}

.fa-bars, .fa-xmark  {
  display: none;
}

.heading {
  padding: 40px 10px 48px 10px;
}

.heading p, .welcome-panel p {
  @apply text-gray-400;
}

/*-- TABLE STYLES --*/

table {
  /* font-family: arial, sans-serif; */
  width: 100%;
  /* border: 1px solid; */
  border-color: rgb(var(--navy), 0.15);
}

td, th {
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  border: 1px solid;
  border-color: rgb(var(--navy), 0.15);
  text-align: left;
  padding: 8px;
  cursor: pointer;
}


.action-body-form table {
  background-color: white;
}

/* tr:nth-child(even) {
  background-color: rgb(var(--light-grey));
} */

tr.tenant-row:hover {
  background-color: rgb(var(--light-grey));
}

.table-container {
  height: 100%;
  max-height: 262px;
  overflow: scroll;
}

/* List and search table styles */
.table-container table, .table-container table td {
  border-collapse: collapse;
}

.table-container table td {
  border-collapse: collapse;
  border-left: 0;
  border-right: 0;
}

.table-container table td.check-cell {
  height: 44px;
  width: 108px;
}

table .fa-circle-check path {
  fill:rgba(var(--cyan), 0.85);
}

.table-head td {
  font-weight: bold;
}

.rdp .rdp-day_selected {
  color: white;
  background-color: rgb(var(--navy));
}

/* .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: rgb(var(--cyan));
  color: white
} */

/* .rdp-row .rdp-cell button:hover {
  color: white;
  background-color: rgb(var(--navy));
} */

table tr td .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  color: white;
  background-color: rgb(var(--navy));
}

table tr td .rdp-day_selected, .rdp-day_selected:focus-visible, table tr td .rdp-day_selected:hover {
  color: white;
  opacity: 1;
  background-color: rgb(var(--navy));
}

/*-- POLICY PICKER STYLES --*/

.nested-checkboxes {
  width: 100%;
  max-width: 450px;
  background-color: white;
}

.select-all-container {
  padding: 12px;
  font-weight: 600;
  border: var(--slate-border);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  height: 52px;
  display: flex;
  align-items: center;
}

.parent-checkbox {
  border: var(--slate-border);
  border-bottom: none;
}

.parent-checkbox {
  border: var(--slate-border);
  border-bottom: none;
}

.parent-checkbox-container:last-of-type {
  border-bottom:var(--slate-border);
}

.checkbox-children {
  background-color: var(--neutral-bg);
  border-left: var(--slate-border);
  border-right: var(--slate-border);
}

.nested-checkboxes ul.checkbox-children li {
  min-height: 52px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 12px;
  border-top: var(--slate-border);
  background: rgb(var(--neutral-bg));
  margin: 0 2px;
}

.nested-checkboxes .parent-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  font-weight: 600;
  padding: 12px;
}
.nested-checkboxes .parent-checkbox button {
  height: 22px;
  width: 22px;
}

.nested-checkboxes .svg-inline--fa {
  height: 22px;
  width: 22px;
}

.nested-checkboxes .svg-inline--fa path {
  fill: rgb(var(--navy));
}

/* Final confirmation view */

.final-confirmation ul li {
  margin-bottom: 8px;
}

/* Additional Options buttons */
.additional-options > div {
  margin-bottom: 12px;
}

.additional-options h4 {
  margin-bottom: 4px;
}

.additional-options input {
  height: 0;
  width: 0;
  opacity: 0;
}

.additional-options svg {
  height: 22px;
  width: 22px;
  margin-right: 2px;
  cursor: pointer;
}

.additional-options label {
  margin-right: 16px;
}

.additional-options .fa-circle path {
  fill: #CCD3D8;
}

/* Checkbox styling */

.nested-checkboxes [type=checkbox] {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 12px;
  color: rgb(var(--navy));
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background 300ms;
  cursor: pointer;
}


/* Pseudo element for check styling */

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}


/* Checked */

[type=checkbox]:checked {
  background-color: currentcolor;
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


/* Disabled */

[type=checkbox]:disabled {
  background-color: #CCD3D8;
  opacity: 0.84;
  cursor: not-allowed;
}


/* Login page */

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--neutral-bg));
  background-color: #f0f0f0;
  /* background-image: url(assets/navy-cloud.svg); */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top left;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 20px 28px;
  box-shadow: var(--light-shadow);
  background-color: white;
  border-radius: 5px;
  height: 420px;
  display: flex;
  flex-direction: column;
}
.login-box-inner {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.login-page .login-box input {
  width: 100%;
}

.login-page .login-box button {
  width: 100%;
  margin-bottom: 16px;
  padding: 12px 12px 12px 12px;
  /* font-size: 18px; */
}

.login-page .login-box .inforcer-logo {
  height: 42px;
  width: auto;
  margin: 18px auto 32px auto;
}

/* Loading Spinner */

#loading-spinner .loading {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 6px solid rgb(var(--black), 0.15);
  border-right-color: rgba(var(--cyan), 0.85);
  animation: loading-animation 900ms linear infinite;
  margin: 0 auto 20px auto;
}

@keyframes loading-animation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.login-box #loading-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-panel {
  padding: 40px 54px;
  background: white;
  border-radius: 10px;
  margin-bottom: 40px;
}



/* confirmation popup */


.final-confirmation  .popup-bg{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.15);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-confirmation .popup-container {
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  height: auto;
  max-height: 720px;
  overflow: scroll;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

@media(max-width: 1280px) {
main {
    padding: 100px 24px 24px 24px;
  }

  .action-body-form {
    margin-left: 32px;
    width: 100%;
  }

}

@media(max-width: 1040px) {
  .progress-text {
    width: 148px;
  }

  .progress-text .text-gray-400 {
    display: none;
  }
}

@media(max-width: 880px) {

  .mobile-menu nav.mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 10;
    background-color: white;
  }

  nav.desktop-sidebar, .progress-bar {
    display: none;
  }

  .fa-bars, .fa-xmark  {
    display: block;
  }

  header {
    padding: 16px 16px;
  }

  header .header-nav .header-nav-list {
    display: none;
  }

  nav.mobile-sidebar .header-nav-list {
    display: block;
    color: white;
  }

  main {
    padding: 0 16px 16px 16px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

  .heading {
    padding: 20px 0px 20px 0px;
  }

  .app .body-container {
    width: 100%;
  }

  .action-body-form {
    margin-left: 0;
}
}